[2018-03-23 13:52] skabashnyuk opened #4 "Eclipse Che is missing"
https://github.com/eclipse/che

[2018-03-23 13:57] tarilabs opened #8 "Search bar does not take into account project description"
Case in point [project KIE](https://github.com/RedHatOfficial/RedHatOfficial.github.io/blob/10cefd7599e57252725d554acad7777b3926b757/app/data/projects.json#L390); people would likely search for keyword "Drools" or "optaplanner" or "jbpm" but currently the project description is not displayed (so it cannot be searched with the browser search functionality) nor the search bar does in fact operate on

[2018-03-23 13:58] apupier opened #9 "Provide Red Hat Fuse related repositories"
for instance:
https://github.com/jbosstools/jbosstools-fuse
https://github.com/jboss-fuse

[2018-03-23 13:58] redhatpride opened #10 "apple mobile chrome issue"
"Commit to collaborate. Push innovation" overlaps with the top bar "RED HAT ON GITHUB" and Red Hat logo.

[2018-03-23 14:01] jpechane opened #15 "Debezium project is missing"
Hi,

Debezium project is not listed on the page
- http://debezium.io/
- https://github.com/debezium/

Project lead is @gunnarmorling

PR - https://github.com/RedHatOfficial/RedHatOfficial.github.io/pull/26

[2018-03-23 14:03] apupier opened #19 "Sort alphabetically entries in project.json file"
it will be easier when having the file opened to check for projects if they exist or not

[2018-03-23 14:08] quiel77 opened #24 "Apache Tomcat Project missing"
Hi,
Please add:
Apache Tomcat who is the main component of JBoss Web Server
URL: https://tomcat.apache.org/
GIT: https://github.com/apache/tomcat

Thanks,
Ezequiel

[2018-03-23 14:09] onyiny-ang opened #25 "Kubernetes is missing"
As the upstream to Openshift, many Red Hatters are actively involved in the Kubernetes project and special interest groups as part of their everyday work at Red Hat (myself included!).
https://kubernetes.io/
https://github.com/kubernetes

[2018-03-23 14:10] Christopher-Chianelli opened #27 "Uberfire is now AppFormer, and is inside KIE group"
Link to maintained repo: https://github.com/kiegroup/appformer

https://github.com/RedHatOfficial/RedHatOfficial.github.io/blob/10cefd7599e57252725d554acad7777b3926b757/app/data/projects.json#L178-L184

[2018-03-23 14:12] apupier opened #28 "Provide JBoss Tools repositories"
see https://github.com/jbosstools

[2018-03-23 14:13] Robcwilliams opened #31 "Red Hat Insights is missing"
Red Hat Insights is one of Red Hat's management offerings [1]. I would like to make the request it gets added, its GitHub is located at - https://github.com/RedHatInsights

[1] https://www.redhat.com/en/technologies/management/insights

[2018-03-23 14:24] robynbergeron opened #41 "Please pick a license and add a LICENSE.md file."
SSIA.

[2018-03-23 14:25] omajid opened #42 "Please explain what "Category" means"
Is that the business unit that works on this project ("Middleware", "Operations", "Platform"), or the type of this project (used for "Development", "Documentation")?

Are multiple categories allowed?

[2018-03-23 14:31] starryeyez024 opened #45 "Style updates"
Suggested CSS improvements:

[code]

Add margin:0 to the .footer-copyright so it will vertically center. :)

[2018-03-23 14:43] fche opened #51 "bulk import https://community.redhat.com/software/ please"
Folks went to some trouble making https://community.redhat.com/software/ pretty complete.  Please do a mass comparison/import of that page to pick up dozens of projects this new database appears to be missing.

[2018-03-23 14:45] robin-owen opened #52 "Duplicated information in README.md"
The README.md file for this repository currently includes two paragraphs which contain the same information with slightly different wording  One has been placed directly below the top-level heading, the other directly before the "Adding a project" section.

[2018-03-23 14:47] anjannath opened #53 "Add Project Website for minishift"
http://minishift.io

[2018-03-23 14:49] dmsimard opened #56 "Disambiguate the notion of "official Red Hat project" or "Red Hat project" vs "Projects Red Hat collaborates to" or "Projects Red Hat is involved in""
The wording in different places is a bit confusing as to the scope this tries to encompass.

For example:

[README.md](https://github.com/RedHatOfficial/RedHatOfficial.github.io/blob/27dc63f4ffec6736ce00ac0b2c69cd76d7e2ab99/README.md#red-hat-on-github)

Implies a list of projects that Red Hat *collaborates* to or is *involved* in.

We then follow up later with:

[README.md](https://github.com/RedH

[2018-03-23 14:55] bproffitt commented on #52
Yeah... that's something to fix. Thanks!

[2018-03-23 14:57] lersek opened #59 "please add TianoCore / edk2 / OVMF"
* *projectName*: `TianoCore / edk2 / OVMF`
* *projectDescription*: cross-platform firmware development environment for the UEFI and Platform Initialization (PI) specifications; Red Hat is involved in firmware development for virtual machines
* *projectRepository*: https://github.com/tianocore/edk2
* *projectWebsite*: https://www.tianocore.org/
* *category*: Development

[2018-03-23 14:58] robin-owen commented on #53
For tracking purposes, #54 contains this update. :)

[2018-03-23 14:59] bproffitt commented on #52
Fixed. Thanks again! Closing.

[2018-03-23 14:59] #52 closed

[2018-03-23 15:00] robin-owen commented on #52
Thank you! :+1:

[2018-03-23 15:04] davidmalcolm commented on #56
Partly addressed by PR #48.

[2018-03-23 15:07] davidmalcolm commented on #56
How about adding something like the following below the list on the main page:

"This is a list of projects hosted on GitHub in which Red Hat employees are actively involved.  An attempt at listing *all* such projects, not just on GitHub, can be seen at https://community.redhat.com/software/"

or somesuch.

[2018-03-23 15:12] bengland2 opened #67 "plz add smallfile"
[code]

This is used by members of perf & scale team, QE, and some partners and customers to performance-test Glusterfs, Cephfs, and NFS, and has even been used in a Windows cluster to test SMB.

I'll do a PR if I have to, but could someone drop it in for me?

[2018-03-23 15:13] kgaillot commented on #56
Agreed ... especially given Red Hat's large footprint in some upstream projects, being a good community member means avoiding any chance of being misconstrued as taking credit for or diminishing other people's work. I envision something like separate lists for "Communities led by Red Hat" and "Communities Red Hat is proud to collaborate with".

I also second the idea of clarifying "projects hosted

[2018-03-23 15:18] bengland2 commented on #67
could you also add:

[code]
I originally wrote this to test EMC Atmos distributed storage, and since then it has been used for Glusterfs cache tiering testing.   Lately it has been used by Samuel Petrovic of the Brno RHEL performance QE team, and he is the maintainer of late.

[2018-03-23 15:21] whitel opened #70 "RFE: many small files, script to merge/alphabetize"
Just a proposal:
* reject all open PRs with an apology
* split projects.json into ./projects.d/<project-name>.json
* add a script to merge all projects.d/* into projects.json
* have script alphabetize
* request new PRs
Should way simplify maintenance and other features you might want to add later (like auto-alphabetize)

[2018-03-23 15:30] whitel commented on #70
Well.. you would need a bot. I didn't realize github was serving it direct from the repo.

[2018-03-23 15:36] dmsimard commented on #56
@fche @davidmalcolm We can't really deny there's a network effect at play here and we definitely have to pay attention around the implied dependency on GitHub and properly frame that.

Feel free to correct me if I'm wrong but I think the intent of this project is to ship something analogous to what [Microsoft](https://opensource.microsoft.com/) and [Google](https://opensource.google.com/projects/e

[2018-03-23 15:37] kgaillot commented on #56
I'm pretty sure it's about having an official Github page for Red Hat.

E.g. the official Gitlab page for Red Hat (if one does or will exist) would list Gitlab-hosted projects that Red Hat is involved with, and so on. Red Hat's own community.redhat.com site, linked in this project's README, is where to go for a broader overview.

[2018-03-23 15:40] bproffitt commented on #56
@kgaillot Is correct. It's a GitHub Page, so we're listing the GitHub hosted projects. But that does not preclude updating a primary list on community.redhat.com.

[2018-03-23 15:46] fche commented on #56
Please forgive me, but I don't understand why we should construe that as limiting factor.  Does it benefit us somehow to avoid advertising other projects?

[2018-03-23 15:49] bproffitt commented on #56
It does not. But this page is going to highlight GitHub projects. Other pages can highlight/advertise **all** the projects. I would like to get this one going, then put a call for action to get an overarching page started/updated somewhere. Perhaps on community.redhat.com/software

[2018-03-23 15:55] robin-owen opened #79 "Provide designation for projects only mirrored on GitHub"
Many of the projects which Red Hat contributes to did not originate on GitHub, but are simply mirrored. In this case, it would be useful to know which projects are mirrors so that the community can be aware that GitHub is not the origin of the project.

In my opinion, having some official way to designate this would be ideal.

[2018-03-23 15:57] fche commented on #56
OK.  Just a suggestion to clarify the intent further then: list the github.com repo URLs for the projects instead of their custom domains.  It takes quite a bit of clicking around to find e.g. where/how apache $foobar is actually co-hosted on github.

[2018-03-23 15:57] bproffitt commented on #51
I don't want to close this. I manage community.redhat.com/software and I *want* help.

[2018-03-23 15:58] kgaillot commented on #56
Red Hat has numerous venues for advertising/promotion/publicity, including our own redhat.com websites. A Github page has a rather more constrained purpose, which is to indicate an organization's presence-on-Github. It makes sense, to me at least, that Red Hat's Github page would be a list of projects hosted or mirrored on Github to which Red Hat contributes. It's not Red Hat's "Internet home page

[2018-03-23 16:00] davidjpeacock opened #80 "Search results need to be fuzzier."
Searching for "OpenStack" or "openstack" does not bring up "redhat-openstack", meaning this (major) project doesn't appear to be listed unless people search for the very specific "redhat-openstack" string.

[2018-03-23 16:02] ishuverma opened #82 "Add redhatdemocentral"
Please add redhatdemocentral, listing of various cross portfolio demos with red hat products

https://github.com/redhatdemocentral

[2018-03-23 16:03] castastrophe commented on #80
Thanks!  Yes, I'd love to update the search feature.  We threw it together quickly and just used a simple "startsWith".  We will make sure this gets prioritized.

[2018-03-23 16:04] castastrophe commented on #45
Love this!  Thank you.  I'll work on getting these incorporated tonight or this weekend.

[2018-03-23 16:05] castastrophe commented on #41
Thanks!  We're working with legal to determine the appropriate license for publishing this type of content.  We didn't want to delay launch while we waited to hear back.

[2018-03-23 16:07] castastrophe commented on #19
It's loosely sorted alphabetically but since it is manually updated, it's not that easy to keep it perfect.  The listing should be alphabetical though on the front-end and you're welcome to start there.  We're also asking new entries be added as close to alphabetical as possible.

[2018-03-23 16:07] ishuverma opened #85 "Add jbossdemocentral"
Please jbossdemocentral to the project list, its repository of jboss middleware demos

https://github.com/jbossdemocentral

[2018-03-23 16:08] castastrophe commented on #8
That is a feature we would like to add but MVP for publishing this page quickly was searching by Project names.  I'd love to prioritize this functionality for future iterations of this page though.

[2018-03-23 16:10] davidjpeacock commented on #80
Welcome!  This seems like a great endeavour; thank you and keep up the good work. :+1:

[2018-03-23 16:21] ncbaratta opened #88 "Include Documentation Repos"
The documentation teams have been sharing our work on GitHub here: https://github.com/redhat-documentation

We should add a documentation category and add these repos.

[2018-03-23 16:33] jzb commented on #25
We're actively involved in hundreds if not thousands of projects. I *think* that this is meant only for projects that we're the primary driver of. (Otherwise we're missing GNOME, the Linux kernel, GCC, and a slew of others.)

[2018-03-23 16:36] jzb commented on #4
Repeating a reply I posted about Kubernetes - Eclipse Che isn't a "Red Hat" project *per se* - we should distinguish between projects we started and drive (Fedora, oVirt, Ansible) vs. projects we are leaders in but aren't "ours" (GNOME, Kubernetes, Eclipse and Apache projects).

I'd suggest we make a distinction based on "do we hold or would we hold the trademark to this project if it was trademar

[2018-03-23 16:41] jzb opened #89 "Reduce "Hero" size on front page"
Viewing the site in Chrome on Linux the "hero" content on the front page (I think that's the proper terminology) where we've got "commit to collaborate" is far outsized. The projects themselves are "beneath the fold" so you don't even see the entire boxes for Ansible, Ceph, and ManageIQ.

We should reduce that by about 2/3rds so the projects we're highlighting are immediately visible.

[2018-03-23 16:47] onyiny-ang commented on #25
According to the README: https://github.com/RedHatOfficial/RedHatOfficial.github.io#criteria-for-adding-projects-to-the-page
Kubernetes qualifies as myself and many others are working on Kubernetes full time as part of our job at Red Hat.
If you're judging by contributions, it's arguable who would be considered the _primary_ driver of Kubernetes: https://github.com/kubernetes/kubernetes/graphs/con

[2018-03-23 17:15] greg-hellings commented on #70
I just put in a PR to have Travis CI test. It could also do the builds, if there is need for that. I don't know if it has integration with github.io, but I know it has lots of integrations with commonly used github-related tools.

[2018-03-23 17:18] greg-hellings commented on #19
Once the PRs settle down it should be easy to hack a script that will truly alphabetize it once, then you can enforce it permanently after that. Or break out each entry into its own file, as a later PR suggests would be a much easier maintenance headache.

[2018-03-23 18:03] #4 closed

[2018-03-23 22:35] iranzo commented on #19
[code]

[2018-03-23 22:42] iranzo commented on #19
Covered in https://github.com/RedHatOfficial/RedHatOfficial.github.io/pull/100

[2018-03-24 03:04] bproffitt commented on #31
PR #39 got this. Closing, with thanks to all!

[2018-03-24 03:04] #31 closed

[2018-03-24 03:11] #25 closed

[2018-03-24 03:15] ishuverma opened #101 "Add redhat-iot"
Please add redhat-iot to the list. This repository is for IoT related demos from red hatters.

https://github.com/redhat-iot

[2018-03-24 03:17] bproffitt commented on #42
Multiple categories are not allowed. I think for .NET Core specifically, it should be "Development"

[2018-03-24 03:35] bproffitt commented on #88
Merged and closing this issue. Thanks to all!

[2018-03-24 03:35] #88 closed

[2018-03-24 07:49] lemenkov opened #102 "Link to Red Hat site must start with HTTPS://"
![Screenshot](http://www.imagehosting.cz/images/screenvqv.png)

[2018-03-24 12:45] castastrophe commented on #70
That would be wonderful!  This all sounds great.  Let me know what you need from me to accomplish this update.

[2018-03-24 13:24] castastrophe commented on #45
I have addressed this with the follow PR: https://github.com/RedHatOfficial/RedHatOfficial.github.io/pull/104

[2018-03-24 13:24] #45 closed

[2018-03-24 13:26] castastrophe commented on #102
@bproffitt Hmm, I don't seem able to change this information on the Organization main page.  Are you able to make this update?

[2018-03-24 13:28] castastrophe commented on #89
This was by design - that the cards would "peek" over the bottom of the page but not be fully visible - though your point is well made and I will pass this back through to the designers and get feedback on how to reduce the size further.

[2018-03-24 13:32] castastrophe commented on #79
What would be your suggestion for designating this?  Are you thinking a column in the table?  Some kind of icon with a key?  A label of some kind?  Would love your ideas/suggestions to help us communicate this.

[2018-03-24 13:36] castastrophe commented on #53
It looks like PR #54 was merged so I'm going to close out this issue.  Thanks!

[2018-03-24 13:36] #53 closed

[2018-03-24 13:37] castastrophe commented on #42
As the PR in question was merged, I'm going to close this issue.

[2018-03-24 13:37] #42 closed

[2018-03-24 13:43] castastrophe commented on #19
Thanks!  I added a question in the PR.

[2018-03-24 13:43] castastrophe commented on #10
Thanks for raising this issue - this is addressed in: https://github.com/RedHatOfficial/RedHatOfficial.github.io/pull/104

[2018-03-24 13:43] #10 closed

[2018-03-24 13:44] castastrophe commented on #9
Closing because the PR is merged.

[2018-03-24 13:44] #9 closed

[2018-03-24 14:16] bproffitt commented on #102
@castastrophe Let me try

[2018-03-24 14:17] bproffitt commented on #102
@castastrophe Got it. Closing. Thanks, @lemenkov !

[2018-03-24 14:17] #102 closed

[2018-03-24 14:22] bproffitt opened #105 "Travis Continuously Fails without Clear Reason"
@greg-hellings The script always fails on projects.json, with just the ambiguous error code 1. Please advise.

[2018-03-24 14:24] bproffitt opened #106 "Content Not Updating"
Merging is going well, but the site itself is still not updated. Can we add an automated process to the CI flow that will auto-build the app after each checked update?

[2018-03-24 14:42] bproffitt commented on #15
Fixed with PR #26. Closing, with thanks to @jpechane

[2018-03-24 14:42] #15 closed

[2018-03-24 14:44] bproffitt commented on #24
Fixed with PR #66 . Closing, with thanks to @quiel77 and @erig0

[2018-03-24 14:44] #24 closed

[2018-03-24 14:46] bproffitt commented on #27
@Christopher-Chianelli So, should I just drop it in favor of KIE like I did initially with the other formerly separate projects?

[2018-03-24 14:48] bproffitt commented on #28
Fixed with PR #22 . Closing, with thanks to @apupier and @nickboldt

[2018-03-24 14:48] #28 closed

[2018-03-24 14:50] bproffitt commented on #41
Update: Progress was made on this Friday afternoon. It is hoped a final choice will be made by early next week.

[2018-03-24 14:52] #51 closed

[2018-03-24 14:54] bproffitt commented on #56
@fche That's a good idea, and will implement once the PRs settle down. Leaving this open to remind me.

[2018-03-24 15:01] bproffitt commented on #59
We are only adding things at the Project level, so it will need to be TitanoCore only. PR #107 takes care of this.

[2018-03-24 15:13] bproffitt commented on #67
These will be added in PR #108. Waiting for Travis checks to be repaired, per issue #105

[2018-03-24 15:19] bproffitt commented on #82
These will be added in PR #109. Waiting for Travis checks to be repaired, per issue #105

[2018-03-24 23:48] jwildeboer opened #112 "Rendering broken on ios"
When I open the page, it looks like in attached screenshot. iOS 11.2 on iPhone 8.
![f8315521-52c3-4236-afc0-34cb52d7dc76](https://user-images.githubusercontent.com/873028/37870138-4207a31a-2fc6-11e8-916a-06528f851fa8.jpeg)

[2018-03-25 07:06] bproffitt commented on #105
@greg-hellings I figured it out, the check was failing in main.js, which also needed to have a new image file for ManageIQ named. Fixed main.js, the Travis check runs. Closing.

[2018-03-25 07:06] #105 closed

[2018-03-25 07:43] #59 closed

[2018-03-25 07:43] bproffitt commented on #67
PR #108 successful, issue closed with thanks!

[2018-03-25 07:43] #67 closed

[2018-03-25 07:44] bproffitt commented on #82
PR #109 passed checks and merged. Closed, with thanks!

[2018-03-25 07:44] #82 closed

[2018-03-25 07:47] bproffitt commented on #85
Closed per #111

[2018-03-25 07:47] #85 closed

[2018-03-25 07:47] bproffitt commented on #101
Handled in PR #111 Thanks for all of these @ishuverma!

[2018-03-25 07:47] #101 closed

[2018-03-25 14:04] castastrophe commented on #41
Address in PR: https://github.com/RedHatOfficial/RedHatOfficial.github.io/pull/116

[2018-03-25 14:05] castastrophe commented on #112
This is a dupe of a previously opened issue and addressed in PR: https://github.com/RedHatOfficial/RedHatOfficial.github.io/pull/104

[2018-03-25 14:05] #112 closed

[2018-03-25 14:06] castastrophe commented on #106
I'd love that but that's not my skillset so we'll need to recruit a developer with that expertise.

[2018-03-25 14:26] bproffitt commented on #106
Okay, but can you update it now? I have caught up with the PRs and I'd like to see them go live.

[2018-03-25 14:28] bproffitt commented on #41
PR #116 merged. Closing

[2018-03-25 14:28] #41 closed

[2018-03-26 00:40] bproffitt commented on #56
This has been addressed in #120 Will also update public announcement on 3/26/18 to reflect these changes. Closing issue for now, always up for more feedback/suggestions.

[2018-03-26 00:40] #56 closed

[2018-03-26 06:37] theute opened #122 "Some changes have been rolled back"
I added Kiali here:
https://github.com/RedHatOfficial/RedHatOfficial.github.io/pull/6

And it's been removed by this commit later:
https://github.com/RedHatOfficial/RedHatOfficial.github.io/commit/010e7a1a25897dba5e0c9036c99d7c01885f8240

Other projects might have been affected

[2018-03-26 11:07] bproffitt commented on #122
Yeah, I actually noticed that, because Kiali was one of the first to be added, and I was using it as a marker to tell me if the page had reloaded. It may have gotten stomped on in one of the early commit conflicts. My apologies, I will fix this now.

[2018-03-26 11:18] bproffitt commented on #122
Closed, completed in #126

[2018-03-26 11:18] #122 closed

[2018-03-26 11:20] theute commented on #122
Thanks !

[2018-03-26 11:35] Christopher-Chianelli commented on #27
@bproffitt Depends on how granular you want the list to be. If you include AppFormer directly, then you should also include the rest of KIE group projects (AppFormer, Drools, OptaPlanner, etc.) as separate entries. If you do include it, it might be worth separating the data into two lists: Teams and Projects, and have Projects point to their team (so add a field, "team" to the Projects dataset who

[2018-03-26 13:05] bproffitt commented on #27
To be honest, I would like to just focus on the top-level projects, if we could. I don't want to start listing sub-projects if we can help it (like moVirt in oVirt-land). For consistency's sake, let's drop Uberfire until we can figure out a way to list sub-projects.

[2018-03-26 13:22] Christopher-Chianelli commented on #27
@bproffitt Probably should add that to the README.md, so contributors know they should not add sub-projects.

[2018-03-26 13:40] bproffitt commented on #27
Updated README and pulled UberFire out in #129 . Closing, with thanks!

[2018-03-26 13:40] #27 closed

[2018-03-26 16:25] robin-owen commented on #79
I think some form of label would be perfectly appropriate and easy to see at a glance. Wouldn't want the information to be lost in a table or require knowledge of an icon. :)

[2018-03-26 18:32] pabelanger commented on #56
FWIW: the way this now reads mean you should probably remobe all of the apache.org projects from projects.json. Since they are hosted at https://git-wip-us.apache.org/ not github.com.

[2018-03-26 22:13] ALRubinger opened #136 "Remove "Obsidian Toaster" as a public-facing entity"
Obsidian Toaster is an internal Middleware initiative with several outputs and communities.  This issue to track PRs for removing "Obsidian Toaster" from the project list in favor of the upstream projects it encompasses.

The RHOAR and Middleware Developer Experience teams will be attaching PRs linked here; no action needed by the RedHatOfficial.github.io maintainers at the moment; thanks!

[2018-03-26 22:30] gastaldi commented on #136
I believe the Red Hat Kontinuity org needs to be removed as well?

[2018-03-26 22:34] ALRubinger commented on #136
@gastaldi Absolutely.

[2018-03-26 22:49] bproffitt commented on #136
Okay, all, will merge the PRs as they come in.

[2018-03-27 10:08] aljesusg opened #139 "Languages for each repo"
Like opensource contributor would be great see the programming languages ​​of each repo, future contributors can search by program language to see in which projects can collaborate.

It's only add to the projects hash an array of languages and we can shown them  with some opensource icon library like [Devicon](http://konpa.github.io/devicon/) or [font-mfizz](http://fizzed.com/oss/font-mfizz) with

[2018-03-27 14:16] bproffitt opened #140 "mod_cluster project presentation is dated"
mod_cluster is listed on a legacy page nobody has updated in many years:

 Project name|Project website|Category
-----------------|--------------------|-------------
 mod_cluster|http://mod-cluster.jboss.org/|Middleware

 Please, amend it to our current presentation we are replacing the old one with:

 http://modcluster.io

 and for CI and builds:

 https://ci.modcluster.io

By @Karm , transferred

[2018-03-27 15:21] #140 closed

[2018-03-29 08:41] ge0ffrey opened #145 "Mention Drools, OptaPlanner and jBPM (not just KIE)"
Red Hat sponsors drools.org, optaplanner.org and jbpm.org.
On GitHub, they are all in the GitHub organization kiegroup, which probably explains why they aren't mentioned individually, but they should.

- Drools - https://www.drools.org/ - https://github.com/kiegroup/drools
- OptaPlanner - https://www.optaplanner.org/ - https://github.com/kiegroup/optaplanner
- jBPM - https://www.jbpm.org/ - https:

[2018-03-29 08:52] bproffitt commented on #145
Yeah, I am unsure how to handle this. All the public-facing content makes a strong point to refer to KIE, which is why it was consolidated here. Plus, for now we're trying to only list top-level projects, so another reason to highlight KIE.

[2018-03-29 12:24] ge0ffrey commented on #145
FWIW, I've updated ticket with suggested name, website url and repo url's.

On Red Hat developer's projects page, they are mentioned separately.
  https://developers.redhat.com/projects/#!

[2018-03-30 00:41] bproffitt commented on #106
Fixed with #138! Closing.

[2018-03-30 00:41] #106 closed

[2018-03-30 16:02] bproffitt opened #150 "Need a Way to Highlight Subprojects"
Initially, we set the criteria for listing only top-level projects on this page. But many subprojects have their own independence and notoriety, such as MoVirt and #149 . We need to come up with a design way to tag and display subprojects (grouping and indentation?).

[2018-03-31 16:40] dmueller2001 opened #152 "Add OpenShift Origin to featured projects section"
Please add OpenShift to the the Featured Projects section for Containers.

https://github.com/openshift

logo:
![openshift-logotype svg](https://user-images.githubusercontent.com/4029488/38166175-44508480-34d4-11e8-8e29-dc3c4998a138.png)

@bproffitt

[2018-04-02 11:17] tarilabs commented on #145
Hi @bproffitt

As @ge0ffrey highlighted Drools, OptaPlanner and jBPM are separate projects:

I believe on this landing page instead we are giving semantics to a GitHub organization for a project/subproject structure, which doesn't necessarily apply to all projects and especially to Kie as it's only used for the pragmatical organisation of tying the projects together (as they have affinity, but ind

[2018-04-02 23:50] rdruss opened #154 "Add Eclipse Vert.x to the Featured section"
I would like to request that Eclipse Vert.x be added to the Featured section of
 https://redhatofficial.github.io

A version of the logo can be found here: https://vertx.io/assets/logo-sm.png along with a brief we description, "Eclipse Vert.x is a tool-kit for building reactive applications on the JVM."

Let me know if you need anything else from me.

[2018-04-03 12:05] #145 closed

[2018-04-03 13:29] bproffitt commented on #152
Completed with #155. Closing.

[2018-04-03 13:29] #152 closed

[2018-04-03 13:29] bproffitt commented on #154
Completed with #155. Closing.

[2018-04-03 13:29] #154 closed

[2018-04-04 13:14] rmonk opened #159 "Please add Charlotte to the list"
Here's the details:

{
  "projectName": "Charlotte",
  "projectDescription": "A Snort unified file to database processor",
  "projectRepository": "https://github.com/redhat-infosec/charlotte",
  "projectWebsite": "https://github.com/redhat-infosec/charlotte",
  "category": "Operations"
}

Thanks!

[2018-04-05 14:39] bproffitt commented on #159
Closed per #161

[2018-04-05 14:39] #159 closed

[2018-04-06 16:41] #80 closed

[2018-04-06 17:14] davidjpeacock commented on #80
Hey - is this live on the prod site, or have you tested it in another place @castastrophe?

I just tried the live site and no dice.

:+1:

[2018-04-06 17:28] castastrophe commented on #80
I tested locally and just merged the change so it will take a bit for
Travis to build.
On Fri, Apr 6, 2018 at 12:14 PM David J Peacock <notifications@github.com>
wrote:

[2018-04-19 18:08] frozencemetery opened #171 "No explanation of website on website itself"
The first paragraph of README.md lays out the repository purpose pretty well - projects that we're involved in which happen to be hosted on GitHub.

However, if one actually visits https://redhatofficial.github.io there's no explanation of what this is (just our "let's make something together" splash).  Some context for what people are looking at would be good.

[2018-04-25 18:27] aljesusg commented on #139
Hi @Fryguy ^^ nice to see you again, Yes we can pull the information my question is if I can do this improve.

[2018-04-25 19:14] Fryguy commented on #139
@castastrophe Thoughts on this?  I like the idea, but I'm not sure how to present it in a nice way.

[2018-04-25 19:35] iranzo commented on #19
I would do a second update if it's not sorted to do that automatically and
save time of submitter

Sent from mobile

El mié., 25 abr. 2018 20:20, Jason Frey <notifications@github.com> escribió:

[2018-04-27 18:00] Fryguy commented on #19
My only reason against that idea is commit-history churn...It will read like "add-a-project, move-a-project, add-a-project, move-a-project"

[2018-04-28 05:49] iranzo commented on #19
We'll that's not the best approach, but asking users to keep order in a big file that can be editted in parallel from several other users isn't either... probably file-per-project would have been better and will avoid conficlts and sorting will come from the static site generator (order once per web upload)

[2018-04-29 16:45] sara-02 opened #174 "Add a fork me on Github logo"
From the website, there is no way to find the GitHub repo associated with the website. It would be great if we could add a `fork me on GitHub logo` to it.
This will increase the visibility of the project, and help external users to pitch in their queries, add issues, and/or give suggestions about content and design.
Otherwise one has to perform an explicit search to find the Github repo associated

[2018-05-11 03:13] Charles9086 commented on #70
Why are they keep making this hard for on me getting mine own with a better life.

[2018-05-30 14:15] jpkrohling opened #178 "Add a "projectStatus" property to projects"
Quite a few projects listed on the file `projects.json` are archived (halted, sunset, terminated and other variations). One such example close to me is GateIn: the last commit on a module I maintain is more than one year old. The last commit on the "core" module is close to two years ago. Other projects I randomly checked are 6 years without a commit (BoxGrinder, for instance).

In benefit of acti

[2018-07-25 20:26] bocekm opened #182 "Add RHEL upgrade tooling"
Please add:

- The Preupgrade Assistant
  - Repo: https://github.com/upgrades-migrations/preupgrade-assistant/
  - Website: Null
  - Description: Assists with in-place upgrading RHEL 6 to RHEL 7
- The Red Hat Upgrade Tool
  - Repo: https://github.com/upgrades-migrations/redhat-upgrade-tool/
  - Website: Null
  - Description: In-place upgrades RHEL 6 to RHEL 7
- Leapp:
  - Repo: https://github.com/

[2018-10-15 21:15] spotrh opened #188 "lots of node security issues here"
npm audit shows a lot of vulnerable components...

[2018-10-16 15:59] spotrh commented on #188
[audit.log](https://github.com/RedHatOfficial/RedHatOfficial.github.io/files/2483918/audit.log)

[2018-12-03 16:12] paulrobinson opened #193 "Homepage loads incorrectly"
Visit: https://redhatofficial.github.io/#!/main

Notice:

![image](https://user-images.githubusercontent.com/51681/49385794-1fd20980-f716-11e8-8b16-e3ab9b2baeb0.png)

Notice error in console:

[code]

[2018-12-03 18:37] bproffitt commented on #193
@paulrobinson Thanks for the catch, reverted recent change. #194

[2018-12-03 18:37] #193 closed

[2019-04-04 13:51] webknjaz commented on #174
:+1: it took me a while to get here from the web site as well...

[2019-04-04 13:52] webknjaz opened #202 "Broken CI: Could not resolve host: boxgrinder.org"
It looks like one of the URLs checked in the CI is dead
[code]

[2019-04-10 17:26] bproffitt commented on #202
Issue fixed with #204

[2019-04-10 17:26] #202 closed

[2019-05-31 12:46] hguerrero opened #210 "Update 3scale project page"
3scale now is fully open source and the project page is this: https://3scale.github.io/

[2019-10-17 19:06] camilamacedo86 opened #215 "Add Operator-Framework projects"
Add Operator-Framework projects. See https://github.com/operator-framework

[2019-10-17 19:22] camilamacedo86 commented on #215
Ignore this one.

[2019-10-17 19:22] #215 closed

[2020-01-09 18:15] dmueller2001 opened #218 "Add ProjectQuay logo to https://redhatofficial.github.io/#!/main"
@dmueller2001 requests on behalf of projectquay.io

logo here:

https://www.projectquay.io/img/project_quay_logo.png

other text/desc available here: https://www.projectquay.io

[2020-02-03 06:39] Shubhrmcf07 commented on #178
Can you spare some more details? I am interested to take this up

[2020-03-31 21:50] fernandojosepenna opened #228 "Red hat"

[2020-04-14 23:03] jkbrock opened #229 "Add Twitter column to page listing"
Many projects have active twitter accounts that are updated more frequently than their websites and blogs. I would propose to add a column for a link to their feed.

[2020-04-15 01:20] castastrophe commented on #229
@jkbrock That sounds like a great idea!  I would definitely accept any pull requests that make that update.

[2020-04-15 01:20] #228 closed

[2020-04-15 01:21] castastrophe commented on #188
Would definitely accept PRs with updates

[2020-04-15 01:22] #210 closed

[2020-04-15 01:22] #218 closed

[2020-04-15 01:23] castastrophe commented on #174
Great suggestion!  Would definitely accept pull requests with said update.

[2020-04-15 01:23] #8 closed

[2020-04-15 01:25] #136 closed

[2020-04-15 12:56] bproffitt opened #230 "Notifications of Pull Requests"
I was not getting notifications of any pull requests since November 2019 (and nothing in Spam). I have added my email address to the Notifications settings for this repo now. Is that all I need to do? Sorry for not seeing any of the pending PRs; I never knew they were there until @castastrophe merged them.

[2020-04-30 16:24] pcast11 commented on #229
Hi! I'm interested in working on this issue but I seem to be having some trouble setting up my dev environment to run the page locally. Would it be possible to get the information on how to do that?

[2020-05-05 13:29] castastrophe commented on #229
@pcast11 Thank you so much for your offer to help!  I will add an issue to go in and add instructions to pull down the project and build.  In the meantime, run `npm install && npm run start`.

[2020-05-05 13:31] castastrophe opened #233 "Add documentation for setting up repo for development"
It was brought to our attention that this project doesn't have a file with instructions on setting up the project for development.

[2020-05-05 13:32] castastrophe commented on #230
@bproffitt Do you still need this issue open?

[2020-05-05 13:32] #182 closed

[2020-05-05 21:47] jugalj05hi commented on #233
Hello there, this would be my first meaningful contribution to the Open Source. Is this something a beginner can take up? Thank you.

[2020-05-06 21:01] castastrophe commented on #233
Documentation is a great way to get your feet wet with open source. I'm not sure if this is the best place to jump in though. There's nothing to get you started so you'd have to parse the package.json and intuit which scripts to run.

[2020-05-12 18:02] pcast11 commented on #229
#234 I added a possible solution here in this pull request.

[2020-06-03 07:35] DARK-art108 commented on #233
Can I work on this issue?

[2020-06-08 13:18] castastrophe commented on #233
@DARK-art108 You're welcome to pick this up if you like.  We're hoping to add the following items:

- Add a Quick start to the README, [example here](https://github.com/patternfly/patternfly-elements#quick-start)
- Contribution guidelines, [example here](https://github.com/lerna/lerna/blob/master/CONTRIBUTING.md)

[2020-06-08 13:19] castastrophe commented on #233
The package.json contains the definition of the scripts available.  The project was set up using webpack as the compiler.

[2020-06-08 15:45] DARK-art108 commented on #233
I have added a quick start guide for setup the repo in development mode please review it.

[2020-06-08 16:15] castastrophe commented on #233
@DARK-art108 Are you able to open a pull request?

[2020-06-08 16:27] DARK-art108 commented on #233
Yes,I have opened a pull request recently.

[2020-06-08 17:28] DARK-art108 commented on #233
Pls, review the pull request #238 @castastrophe

[2020-06-10 07:39] DARK-art108 commented on #233
Pls, review the pull request #239 @castastrophe

[2020-07-20 12:53] castastrophe opened #242 "Add a lightweight DB"
The projects.json is now 2,000 lines long so I think it might be time to consider adding a lightweight database for storing the data.

I've heard good things about [Keystone.js](https://www.keystonejs.com/tutorials/new-project) and would be willing to look into setting that up for us.

[2020-07-20 13:28] bproffitt commented on #242
+1 on this!

BKP

On Mon, Jul 20, 2020 at 8:53 AM [ Cassondra ] <notifications@github.com>
wrote:

--

Brian Proffitt

Manager, Open Source Program Office

Red Hat <https://www.redhat.com/>

He/Him/His

M: 5747805695
@redhatopen <https://twitter.com/redhatopen>   Red Hat
<https://www.linkedin.com/company/red-hat>  Red Hat Community
<https://www.facebook.com/redhatopen>
<https://red.ht/sig>

[2020-07-24 04:42] DARK-art108 commented on #233
Pls, review the pull request #239 @castastrophe

[2020-07-24 12:20] #233 closed

[2020-07-24 12:20] #230 closed

[2020-10-01 12:11] castastrophe opened #253 "Update alphabetization to ignore "The""
Update how the list is alphabetized to ignore "The" at the beginning of a project

[2020-10-02 11:39] Ayazzia01 commented on #253
Hey this is my first time on github. What will I need to do exactly in this request?

[2020-10-02 14:12] castastrophe commented on #253
I love your energy but if you haven't work in Angular, this is not a good task for you to pick up.  It would require going into the Angular app and writing regex to parse incoming strings for title to ignore `/the/ig`.  This is not my primary project so I don't have the hours at the moment to do a thorough hand-off.

[2020-10-12 15:42] AdityaTeltia opened #260 "Want to contribute !"
Hello everyone !
I really want to contribute in this but i don't know
I know HTML , CSS , JAVASCRIPT and C++ .
I am a code newbie so i don't know much but it would be awesome if anyone can mentor me how to do it .
I have been contributing in some projects in past 2-3 weeks but i have seen this project and i am very keen to contribute and learn new thing !
PS: Maybe it is not the right place to ask

[2020-10-21 12:15] castastrophe commented on #260
Hi @AdityaTeltia, thanks for reaching out. Feel free to check out issue queues for ways to contribute. Projects often use the "good first issue" label as a way of noting which issues are easy to jump into without much background. This is not a great project to step into because it's a fairly static listing of Red Hat's open source projects on GitHub and is not supported by a team.

[2020-10-21 12:15] #260 closed

[2020-12-02 19:34] frcr commented on #139
I have somewhat workable solution for this, although I came up with a few questions regarding best approach.

**tl;dr:** Should we pull languages dynamically at every launch user-side or store them in repo, updating from time to time through commits?

1) The idea of this project seems for it to be self-contained, i.e. decoupled from external sources (apart from some external css's and fonts). Pull

[2021-01-22 15:53] amruta-kashikar commented on #253
I want to work on this issue

[2021-01-23 11:32] castastrophe commented on #253
Details are in the issue. Feel free to open a pull request and we'll take a look! Thanks!

[2021-01-24 05:33] amruta-kashikar commented on #253
Here do we have to ignore 'The' for the project names which are added to the list of projects?

[2021-02-02 15:56] Nachichuri commented on #174
Hey! I noticed this issue was still open so I added a button in #270, let me know what you think about it 😀 I guess it's a WIP since I couldn't try it in all the required browsers, so it'd be great if you could test it with the [netlify deploy preview](https://deploy-preview-270--red-hat.netlify.app/#!/main)!

[2021-02-08 01:24] #253 closed

[2021-02-08 01:26] castastrophe commented on #188
We have dependabot set up so I'm going to close this for now.  If there are specific issues we can resolve, please don't hesitate to reach out!

[2021-02-08 01:26] #188 closed

[2021-02-08 01:31] castastrophe commented on #174
I love the idea of linking to our GitHub Organization: https://github.com/RedHatOfficial, rather than a link directly to this project. Alternatively, maybe a link in/near the footer to open an issue?

[2021-02-08 01:34] castastrophe commented on #89
Looking at the code, the typography appears the right size but I think there's potentially too much padding on that top hero band.  @bproffitt Any opposition to my reducing the padding on the top band to this instead:

<img width="1482" alt="Screen Shot 2021-02-07 at 8 34 24 PM" src="https://user-images.githubusercontent.com/1840295/107166405-e5aec300-6983-11eb-9d9c-5e7b82fb99df.png">

Current: ht

[2021-02-08 15:15] bproffitt commented on #19
If this is something we can add to the CI check, then I am for it. But I would put this as a low-priority need, since the maintainers of this site should be able to alphabetize during the quarterly audits.

[2021-02-08 15:18] bproffitt commented on #70
I like this approach more than a CI-based script.

[2021-02-08 15:19] bproffitt commented on #19
#70 is a better approach and would solve this issue. Closing in deference to that approach.

[2021-02-08 15:19] #19 closed

[2021-02-08 15:21] bproffitt commented on #79
On a priority scale, I'd say this is a nice to have. But other design elements are more needed.

[2021-02-08 15:21] bproffitt commented on #89
@castastrophe No opposition whatsoever! Thanks

[2021-02-08 15:28] bproffitt commented on #139
Okay, so the point of this page is to highlight projects in which Red Hat participates. Adding language information is helpful, but if we go this direction, now the site becomes more utilitarian in its mission. To be clear, this is _not_ a bad thing. In fact, there is an upcoming effort from my team that will be highlighting lots of projects for ease of onboarding, so this feature could be ported

[2021-02-08 15:30] bproffitt commented on #150
This I would like to still see have happen. Medium-to-high priority.  Breaking the entries up like #70 suggests could make this type of organization easier?

[2021-02-08 15:33] bproffitt commented on #171
We can add something to the intro text. Taking this on.

[2021-02-08 15:36] bproffitt commented on #174
I agree; there are a lot of cool projects happening in the organization at large. Can we have the GitHub button do this when it's added? (I can't seem to see it either.)

[2021-02-08 15:37] bproffitt commented on #178
Time to do an audit!

[2021-02-08 15:44] bproffitt commented on #242
Would we do this, or the solution outlined in #70 ? Or are they the same thing, and I has the dumbs? :)

[2021-02-11 01:21] #229 closed

[2021-03-28 11:15] jaiswalpalak opened #275 "Design | Add "dark mode" option"
I am adding the button named "D" , if we click on that then the dark mode will be activated. Dark mode is here to help with this, making the screen easier to see in low lighting such as in the night or early morning. It can be a lot easier on the eyes, causing less strain and is better in the long run. So can you assign me this because I want to contribute in this.

[2021-04-01 19:27] castastrophe commented on #275
@4kashyadav Thanks for opening this issue.  Dark mode is definitely a great enhancement for a site I agree though we'll need to hold off making any design updates until we get feedback from the site owners and the designers about how that might look.  Currently, the design kit does not include dark mode so I think this is a few quarters away from being worked on.

[2021-04-01 19:29] #89 closed

[2021-04-04 10:33] 4kashyadav commented on #275
@castastrophe sir please assign this to me am working on it

[2021-04-04 11:15] castastrophe commented on #275
@4kashyadav As I said, this requires design direction first. We won't be accepting PRs for this at this time.

[2021-04-04 14:23] 4kashyadav commented on #275
@castastrophe ohk sir but i want to contribute so can you assign me any task because i am new to github!

[2021-04-05 17:00] 4kashyadav opened #277 "ADD follow section in footer!"
I will add a follow section in your footer in which i will add some buttons of instagram, twitter , facebook and so on so can you assign me this please!
Like this:
![Screenshot (508)](https://user-images.githubusercontent.com/78416508/113601111-8d7ffe80-965e-11eb-9dcd-5eab4a5af280.png)

[2021-04-05 17:01] 4kashyadav commented on #277
@castastrophe can i work on this issue ? please assign this to me

[2021-04-13 00:37] castastrophe commented on #277
We are not making any design changes to the site at this time but I will be sure to share the design suggestion with the team when a redesign is scheduled.

[2021-06-03 12:27] prsmahajan commented on #277
Hi, I would like to work on this issue, can you suggest me ways to get started?

[2021-06-03 13:02] castastrophe commented on #277
@prsmahajan I appreciate your offer however see the thread above.  We are not making any redesign updates at this time.

[2021-06-05 18:11] prsmahajan commented on #277
What means onhold?

[2021-08-15 00:29] psolarvi opened #288 "Wrong link for the Asciibinder project"
## Description of the issue

The link for the Asciibinder project is wrong. We are linking to http://asciibinder.org/ on the Project website column and the correct  official page is https://asciibinder.net/.

### Steps to reproduce

1. Go to the 'Asciibinder' section.
2. The link we display on the project column is wrong.

### Expected behavior

Link project to the correct and curated links, other

[2021-08-16 19:38] psolarvi commented on #288
Closed with: https://github.com/RedHatOfficial/RedHatOfficial.github.io/pull/289

[2021-08-16 19:38] #288 closed

[2021-08-18 19:13] Aanchal116 commented on #174
Hii @castastrophe , the idea seems interesting. May I work on this issue?

[2021-08-29 23:11] nhosoi opened #291 "Request to make linux-system-roles available in https://redhatofficial.github.io"
## Description of the issue

Sorry, I mistakenly submit a pr https://github.com/RedHatOfficial/RedHatOfficial.github.io/pull/290 directly hoping to add a new project `linux-system-roles`. And the pr was already merged 6 days ago. But the project `linux-system-roles` does not appear in `https://redhatofficial.github.io/` yet.

Could you please tell me how to make `linux-system-roles` visible in `ht

[2021-08-30 15:39] bproffitt commented on #291
@zhawkins Can you advise? I merged this last week, and @nhosoi is correct, it's still not live on the site.

[2021-08-31 20:11] zhawkins commented on #291
Taking a look @bproffitt 👀

[2021-09-13 05:28] nhosoi commented on #291
Any progress on this issue?
BTW, thanks for taking care of this request.

[2021-09-14 15:37] zhawkins commented on #291
@nhosoi this is resolved now. Check out https://redhatofficial.github.io and let me know what you think!

[2021-09-14 15:41] nhosoi commented on #291
Excellent! Thank you soooo much for your help, @zhawkins.

[2021-09-14 15:52] #291 closed

[2021-09-15 17:49] FirdausJawed commented on #277
i wanna work on this issue
can you suggest me where to get started

[2021-09-15 17:55] FirdausJawed commented on #139
Is this issue is for adding the highlights of the projects in which red hat is participating?

can i work upon it?

can you tell me where to get started?

really interested in this project

[2021-09-15 18:58] Fryguy opened #294 "Twitter handles for each project"
Similar to #139 , I think we can extract the Twitter handles for each project if a) the project points to an org and b) the org defines a twitter handle.  See also https://docs.github.com/en/rest/reference/orgs#get-an-organization (`"twitter_username"` response value)

Here is a UI example with ManageIQ:

![ManageIQ](https://user-images.githubusercontent.com/52120/133492829-6749be1d-00ba-4923-993e

[2021-09-24 06:50] sundas56 opened #295 "Installing git"
Hello! Can anyone help me with installing git in Red Hat because when I try "yum install git", it shows this error
"This system is not registered with an entitlement server. You can use subscription-manager to register".
Then on registering through subscription-manager, I get this
"Unable to verify server's identity: certificate verify failed

[2021-09-24 13:48] bproffitt commented on #295
This is not a support channel by any means. You might try Reddit /r/redhat, or contacting Red Hat support.

[2021-09-24 13:48] #295 closed

[2021-10-06 14:32] gautamkrishnar commented on #294
@Fryguy this comes with some disadvantages as well.

- What if the project is not hosted under an organization?
- There are projects that have separate Twitter handles, eg: https://github.com/microsoft/vscode and https://twitter.com/code

[2021-10-06 15:25] Fryguy commented on #294
That's why I said "if a) the project points to an org".  For example, ManageIQ's entry points to the org, not a specific repo: https://github.com/RedHatOfficial/RedHatOfficial.github.io/blob/7fec81a61de91d92c0bb36c7cc2a4f69c9315655/app/data/projects.json#L1681

[2022-02-13 18:45] johnoseni1 opened #303 "scanning of sites legally, not only web, blockchain(smart contract), mobile for errors (compilable) and loop holes"
## Description of the requested feature

## Related issues

- (#100) Description

[2022-03-23 03:31] EraKin575 commented on #174
Hi @castastrophe .I would like to work on this issue

[2022-06-07 03:37] reddybhavaniprasad opened #323 "RHEL8 VMs throws "access denied" error while mounting using nfsserver"
## Description of the issue
I have created two RHEL8 VMs from Openstack and setup nfsserver on the first machine and used the second machine as an nfsclient. The installation was smooth but the nfsserver denies the mount from nfsclient.

### Steps to reproduce
Steps on nfsserver:
[code]
Steps on nfsclient:
[code]
### Expected behavior
The nfsclient should be able to mount the data on nfsserver wit

[2022-08-30 13:16] bproffitt opened #325 "Site is no longer updating"
## Description of the issue

The dev branch is not loading automatically into main, so site is not being updated.

### Steps to reproduce

The CI appears to be blocked by a network problem, as seen here https://github.com/RedHatOfficial/RedHatOfficial.github.io/runs/7658463790

One of my teammates looked into it, and believes the root cause is from this commit:

https://github.com/RedHatOfficial/R

[2022-08-30 14:03] mscherer commented on #325
So the teammate is me. As said, I am not a JS dev, but I think the main problem is deps are out of date (for example, nose-saas use node-gyp that do not work with python 3, as it try to detect python using a python snippet that only work on python 2). As the underlying OS is kept up to date, python 2 was removed.

I managed to get something built (using '*' everywhere), but upon testing angular fa

[2022-09-12 19:44] pacificera opened #327 "Please add Red Hat Intelligent Application Practice organization to your listing"
Hi.  Thank you for adding my practice to this official listing.  Please feel free to contact me at my Red Hat address: davidwil@redhat.com.

Here is the requested info:

{
  "projectName": "Red Hat Intelligent Application Practice",
  "projectDescription": "The home of Data Science Platforms and MLOps Consulting at Red Hat",
  "projectRepository": "https://github.com/rh-intelligent-application-pra

[2022-09-26 01:21] castastrophe commented on #325
I wanted to mention here that I used to be the developer on helping with this project but have since left the company.  The Netlify build is still running under my personal profile.  How would you like me to go about transferring this ownership?

[2022-09-26 01:24] castastrophe commented on #325
cc @kylebuch8 or @bennypowers who might know who could assist with this in future?

[2022-09-28 07:42] bennypowers commented on #325
Briefly scanning the build logs, it looks like there is an issue with the _private npm repository_ that is in use here at [https://repository.engineering.redhat.com](https://repository.engineering.redhat.com/nexus/repository/registry.npmjs.org/v8flags/-/v8flags-2.1.1.tgz)

As for the netlify builds, If they are still needed, I'd recommend opening an open-source or paid account at netlify for this

[2022-09-28 21:05] mscherer commented on #325
Yeah, that's what I meant for "Which somehow has embedded a internal RH URL." but once that is solved (more or less), more issues appear.

[2022-09-29 08:12] bennypowers commented on #325
@bproffitt would you be able to take a look at the [build failure](https://github.com/RedHatOfficial/RedHatOfficial.github.io/actions/runs/3090224345/jobs/4998749975) and give us an indication whether we're holding it wrong or not?

[2022-09-29 09:14] bennypowers commented on #325
Ok I have a potential fix for this in a PR which updates from node-sass to dart sass. @bproffitt would you consider adding me with write perms so i don't have to fork?

PS. would you be interested in a PR which migrates from angular to lit+red-hat-design-system? such PR would drastically reduce both the code in this repo as well as the code over-the-wire to end user (thus improving loading perform

[2022-09-29 12:21] bproffitt commented on #325
@bennypowers Added. As for the build failure, @mscherer may be able to give you better data than I.

[2022-10-24 21:47] #325 closed, assigned to nobody

[2022-11-06 09:13] cool-man-vk opened #344 "Proper alignment of the icon and the text in the Cards"
It will look good , the text and icon is aligned centered , next to the icon .
![image](https://user-images.githubusercontent.com/76818423/200162886-82160fc4-3e83-4fd1-baf1-ca962c1423b2.png)

[2022-11-06 09:19] cool-man-vk opened #345 "Responsiveness is missing in the projects table[could be added row-wise]"
The responsiveness of the website in the all projects section in missing.
Column wise topics is given in normal view. Maybe given row wise in the responsive mobile view.

##Normal view
![image](https://user-images.githubusercontent.com/76818423/200163015-6ceacce5-168e-4a0b-abf6-6dc98755b091.png)

##Responsive view
![image](https://user-images.githubusercontent.com/76818423/200163035-df064377-8fb1-

[2022-11-09 10:30] abhayguptas commented on #344
Can I work on this??

[2022-11-10 04:28] niranjana1997 commented on #345
Is it alright if I contribute to this?

[2022-11-10 05:50] cool-man-vk commented on #345
Yes sure , go ahead!

[2022-11-10 07:56] cool-man-vk commented on #344
Yes sure!

[2022-11-10 08:49] abhayguptas commented on #344
Plz assigned this to me !!

[2022-11-11 15:13] Yasir761 commented on #345
@niranjana1997  I was also looking forward to contributing to this but it seems like you are already doing it, if you need any help then let me know.

[2022-11-11 15:15] Yasir761 commented on #344
Can I also contribute to it too?

[2022-11-24 10:54] cool-man-vk commented on #344
Yes ,sure ! You can take up the charge

[2022-11-29 05:24] Yasir761 commented on #344
Hey! I've resolved this issue, Plz assign it to me to make a PR.

[2022-11-29 06:30] cool-man-vk commented on #344
@Yasir761 I couldn't able to make you as an assignee. Please make PR and then will review and merge it.